using UnityEngine;

namespace ObserverPlus.Templates
{
	[CreateAssetMenu(menuName = BasePath + nameof(#SCRIPTNAME#), fileName = nameof(#SCRIPTNAME#))]
	public class #SCRIPTNAME# : AEvent<#SCRIPTRTYPE#> {}
}
